<form> 
  <label for="balance">Amount: </label>
  <input id="amount" name="amount" value="" placeholder="0" required="required" />
  <label for="payBalance">Pay Balance: </label>
  <input id="payBalance" type="checkbox" checked="checked" name="payBalance" value"" />

  <input type="submit" value="Add" id="submit-button" />
</form>