<form> 
  <label for="balance">Balance: </label>
  <input id="balance" name="balance" value="" placeholder="0" required="required" />

  <label for="rate"> Rate %: </label>
  <input id ="rate" name="rate" value="" placeholder="4" required="required" />

  <input type="submit" value="Add" id="submit-button" />

</form>